VPControl-node-red-flow.json
[{"id":"4b7b595c.a15c08","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"ba57f093.a1b27","type":"debug","z":"4b7b595c.a15c08","name":"RAW XML","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":870,"y":100,"wires":[]},{"id":"32d37c60.d9ddb4","type":"inject","z":"4b7b595c.a15c08","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"0 0-22 * * *","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":170,"y":200,"wires":[["15950a06.34b7f6"]]},{"id":"797d2c4.efe84d4","type":"http request","z":"4b7b595c.a15c08","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":200,"wires":[["ba57f093.a1b27","8dc62d3d.c98e1"]]},{"id":"8dc62d3d.c98e1","type":"xml","z":"4b7b595c.a15c08","name":"","property":"payload","attr":"","chr":"","x":700,"y":300,"wires":[["b735446f.712bf8","f5be349f.43e048"]]},{"id":"b735446f.712bf8","type":"debug","z":"4b7b595c.a15c08","name":"JSON","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":160,"wires":[]},{"id":"f5be349f.43e048","type":"function","z":"4b7b595c.a15c08","name":"Get Price value","func":"const sekEur = 10.3; // parseFloat(env.get('SEK_EUR')).toFixed(2)\nconst tz = 2; // parseFloat(env.get('TIME_ZONE_ADJUSTMENT')).toFixed(0)\n\nconst prices = msg.payload.Publication_MarketDocument.TimeSeries[0].Period[0].Point;\nconst currentHour = (new Date().getUTCHours() + tz);\n// Get teh price in SEK re / kWh\nconst price = Math.round(parseFloat(prices[currentHour][\"price.amount\"][0]).toFixed(2) * sekEur / 10);\nflow.set('CURRENT_PRICE', price);\n\nreturn {\n    payload:  {\n        prices,\n        currentHour,\n        exchangeRateSEK_EUR: sekEur,\n        price\n    }\n};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":380,"wires":[["819e4c6.0436fb","a0d58a1f.29a638","90b8c16e.aa54f"]]},{"id":"819e4c6.0436fb","type":"debug","z":"4b7b595c.a15c08","name":"Price for coming hour","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1120,"y":280,"wires":[]},{"id":"df1056f2.de5588","type":"debug","z":"4b7b595c.a15c08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"url","targetType":"msg","statusVal":"","statusType":"auto","x":440,"y":420,"wires":[]},{"id":"15950a06.34b7f6","type":"function","z":"4b7b595c.a15c08","name":"Format URL","func":"const params = {\n    securityToken: env.get('SECURITY_TOKEN')\n    priceRegion: '10Y1001A1001A46L' // =Sweden SE3 // env.get('PRICE_REGION')\n};\n\nlet date = new Date(msg.payload);\n// We want date/time as e.g. 20220802, we'll add hours in the URL\ndate = (date.getFullYear() + '' + \n    ('00' + (date.getMonth()+1)).slice(-2) + '' + \n    ('00' + date.getDate()).slice(-2));\n    // ('00' + date.getHours()).slice(-2) \n    // ('00' + date.getMinutes()).slice(-2)\n    // ('00' + date.getSeconds()).slice(-2)\nconst url = `https://web-api.tp.entsoe.eu/api?securityToken=${params.securityToken}&documentType=A44&in_Domain=${params.priceRegion}&out_Domain=${params.priceRegion}&periodStart=${date}0000&periodEnd=${date}0100`;\n\nreturn { url };","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":380,"wires":[["df1056f2.de5588","797d2c4.efe84d4"]]},{"id":"81a0108d.5ce6a","type":"comment","z":"4b7b595c.a15c08","name":"Params","info":"You'll need to set a few environment variables by using, e.g:\n\n`export SECURITY_TOKEN=u-u-i-d`\n\nYou need to export:\n\n> SECURITY_TOKEN, the security token for Entsoe API\n> PRICE_REGION, the region to get the price for\n> SEK_EUR, the exchange rate between SEK and EUR\n> CUT_OFF_LIMIT, when should we block the heat-pump\n> TIME_ZONE_ADJUSTMENT, for CET this should be set to 2","x":140,"y":60,"wires":[]},{"id":"71f2041c.45d98c","type":"rpi-gpio out","z":"4b7b595c.a15c08","name":"Price control","pin":"11","set":true,"level":"0","freq":"","out":"out","x":1230,"y":580,"wires":[]},{"id":"a0d58a1f.29a638","type":"function","z":"4b7b595c.a15c08","name":"On/Block","func":"const cutOffValue = parseFloat(flow.get('CUT_OFF_LIMIT')).toFixed(0);\nconst cutOff = cutOffValue || 200; // parseFloat(env.get('CUT_OFF_LIMIT')).toFixed(0)\nconst currentPrice = parseFloat(flow.get('CURRENT_PRICE')).toFixed(0);\nconst mainSwitch = flow.get('MAIN_SWITCH');\n\nconst s = {cutOffValue: cutOffValue,\ncutOff: cutOff,\ncurrentPrice: currentPrice,\nmainSwitch: mainSwitch,\ncondition: (mainSwitch && currentPrice > cutOff)\n};\n\nmsg.debug = s;\n\nmsg.payload = 0; // Default to let it run, relay is open\nif (mainSwitch && currentPrice > cutOff) {\n     // Pull the relay, we want to block, if the main switch is on\n    msg.payload = 1;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":480,"wires":[["d58686f7.41f258","71f2041c.45d98c","2f68c2c4.9bcfee"]]},{"id":"d58686f7.41f258","type":"debug","z":"4b7b595c.a15c08","name":"on/Block","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1250,"y":440,"wires":[]},{"id":"2f68c2c4.9bcfee","type":"ui_led","z":"4b7b595c.a15c08","order":1,"group":"d3aa98d4.f35778","width":0,"height":0,"label":"Heating status","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Heating status","x":1220,"y":640,"wires":[]},{"id":"90b8c16e.aa54f","type":"ui_text","z":"4b7b595c.a15c08","group":"d3aa98d4.f35778","order":2,"width":0,"height":0,"name":"Current Price","label":"Current price (öre/kWh)","format":"{{msg.payload.price}}","layout":"row-spread","x":1260,"y":380,"wires":[]},{"id":"34d72492.037e7c","type":"ui_switch","z":"4b7b595c.a15c08","name":"","label":"VP Control enabled","tooltip":"","group":"7f260cb3.6d6324","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":170,"y":740,"wires":[["893f01d9.2a0fd"]]},{"id":"893f01d9.2a0fd","type":"rpi-gpio out","z":"4b7b595c.a15c08","name":"Main control","pin":"13","set":true,"level":"0","freq":"","out":"out","x":570,"y":740,"wires":[]},{"id":"6834b7a5.b75bc8","type":"ui_text_input","z":"4b7b595c.a15c08","name":"Cut-off price","label":"Cut-off price (öre/kWh) ","tooltip":"","group":"7f260cb3.6d6324","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":150,"y":880,"wires":[["bc070dca.6a12"]]},{"id":"bc070dca.6a12","type":"function","z":"4b7b595c.a15c08","name":"Set params","func":"flow.set('CUT_OFF_LIMIT', parseFloat(msg.payload).toFixed(0));\nmsg.payload = flow.get('CUT_OFF_LIMIT');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":880,"wires":[["7d5b666.d1c2098","a0d58a1f.29a638"]]},{"id":"7d5b666.d1c2098","type":"debug","z":"4b7b595c.a15c08","name":"Set Cut-Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":880,"wires":[]},{"id":"e2708226.24c2a","type":"status","z":"4b7b595c.a15c08","name":"Status VP Control enabled","scope":["34d72492.037e7c"],"x":230,"y":780,"wires":[["894299b2.b50fe8"]]},{"id":"d1e6420c.3fa1d","type":"debug","z":"4b7b595c.a15c08","name":"Status VP Control On/Off","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":800,"wires":[]},{"id":"894299b2.b50fe8","type":"function","z":"4b7b595c.a15c08","name":"Set flow status","func":"flow.set('MAIN_SWITCH', msg.status.text === 'on');\nmsg.payload = `MAIN_SWITCH: ${msg.status.text === 'on'}`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":800,"wires":[["d1e6420c.3fa1d","a0d58a1f.29a638"]]},{"id":"d3aa98d4.f35778","type":"ui_group","name":"Status","tab":"7586f32f.8b050c","order":2,"disp":true,"width":"6","collapse":false},{"id":"7f260cb3.6d6324","type":"ui_group","name":"Control","tab":"7586f32f.8b050c","order":1,"disp":true,"width":"6","collapse":false},{"id":"7586f32f.8b050c","type":"ui_tab","name":"VP Control","icon":"dashboard","disabled":false,"hidden":false}]